#subscribe {
  border: none;
  height: 35px;
  background: rgb(200, 0, 0);
  color: white;
}

#join {
  border: 1.5px solid blue;
  height: 35px;
  width: 25px;
  color: blue;
  background: white;
}

#tweet {
}
