.subscribe {
  border: none;
  height: 36px;
  background: rgb(200, 0, 0);
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.subscribe:hover {
  background: rgb(255, 0, 0);
}

.join {
  border: 1px solid blue;
  height: 36px;
  width: 74px;
  color: blue;
  font-size: 15px;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.tweet {
  border: none;
  border-radius: 18px;
  height: 36px;
  width: 74px;
  background: rgb(29, 161, 242);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.uber {
  background: black;
  color: white;
  border: none;
  height: 36px;
  width: 115px;
  cursor: pointer;
}

.Amazon {
  background: rgb(255, 216, 20);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.Github {
  background: rgb(46, 164, 79);
  color: white;
  border: none;
  border-radius: 7px;
  height: 36px;
  width: 90px;
  font-weight: bold;
  cursor: pointer;
}

.Bootstrap-1 {
  background: rgb(121, 82, 179);
  color: white;
  border: none;
  border-radius: 5px;
  height: 36px;
  width: 110px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.Bootstrap-2 {
  background: white;
  color: rgb(108, 117, 125);
  font-weight: bold;
  border: 1px solid rgb(108, 117, 125);
  height: 36px;
  width: 110px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.Linkedin-1 {
  background: rgb(10, 102, 194);
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  height: 36px;
  width: 210px;
  cursor: pointer;
}

.Linkedin-2 {
  background: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  border: 1px solid rgb(10, 102, 194);
  height: 36px;
  width: 90px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 50px;
}

a {
  color: green;
}
.Amazon-1 {
  background: rgb(255, 216, 20);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 120px;
  cursor: pointer;
}

.Amazon-2 {
  background: rgb(255, 153, 36);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 120px;
  cursor: pointer;
}

.price {
  color: green;
  font-weight: bold;
}
