/* === buttons === */
.subscribe {
  border: none;
  height: 36px;
  background: rgb(200, 0, 0);
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.3s;
}

.subscribe:hover {
  opacity: 0.7;
}

.subscribe:active {
  opacity: 0.6;
}

.join {
  border: 1px solid blue;
  height: 36px;
  width: 74px;
  color: blue;
  font-size: 15px;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.4s, color 0.4s;
}

.join:hover {
  background: blue;
  color: white;
}

.join:active {
  opacity: 0.7;
}

.tweet {
  border: none;
  border-radius: 18px;
  height: 36px;
  width: 74px;
  background: #1d9bf0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.4s, color 0.4s;
}

.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.414);
}

.uber {
  background: black;
  color: white;
  border: none;
  height: 36px;
  width: 115px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.uber:hover {
  opacity: 0.7;
}

.Amazon {
  background: rgb(255, 216, 20);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.Amazon:hover {
  background: rgb(255, 153, 36);
}

.Github {
  background: rgb(46, 164, 79);
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: padding 0.15s, margin 0.15s, background-color 0.4s, color 0.4s;
}

.Github:hover {
  background: rgb(36, 124, 59);
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

.Bootstrap-1 {
  background: rgb(121, 82, 179);
  color: white;
  border: none;
  border-radius: 5px;
  height: 36px;
  width: 110px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.Bootstrap-1:hover {
  background: rgb(51, 26, 88);
}
.Bootstrap-2 {
  background: white;
  color: rgb(108, 117, 125);
  font-weight: bold;
  border: 1px solid rgb(108, 117, 125);
  height: 36px;
  width: 110px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
.Bootstrap-2:hover {
  background: rgb(108, 117, 125);
  color: white;
  width: 130px;
}

.Linkedin-1 {
  background: rgb(10, 102, 194);
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  height: 36px;
  width: 210px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.Linkedin-1:hover {
  background: rgb(6, 61, 116);
}

.Linkedin-2 {
  background: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  border: 1px solid rgb(10, 102, 194);
  height: 36px;
  width: 90px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 50px;
  transition: background-color 0.4s, color 0.4s;
}

.Linkedin-2:hover {
  background: rgba(55, 146, 250, 0.307);
  color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
}

a {
  color: rgb(22, 75, 33);
}

a:hover {
  text-decoration: none;
  color: rgb(30, 255, 0);
}

.Amazon-1 {
  background: rgb(255, 216, 20);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
.Amazon-1:hover {
  background: rgb(255, 153, 36);
  margin-right: 20px;
  border-top-right-radius: 25px;
}

.Amazon-2 {
  background: rgb(255, 153, 36);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
.Amazon-2:hover {
  background: rgb(255, 216, 20);
  margin-left: 20px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-style: italic;
}

.price {
  color: green;
  font-weight: bold;
}

/* === video ===== */

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 300px;
  line-height: 22px;
  margin-top: 0;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding: 20px 10px;
}

.span-example {
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(255, 1, 1),
    rgb(255, 153, 36)
  );
  border-radius: 20px;
}

.span-example:hover {
  opacity: 0.7;
}

.span-example:active {
  opacity: 0.6;
}

/* === images === */

img {
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  object-fit: cover;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid rgb(55, 6, 250);
}

.search-bar {
  width: 200px;
  height: 30px;
  margin: 20px;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 10px;
  display: block;
}

.search-bar-2 {
  width: 450px;
  padding: 12px 10px;
  margin-left: 5px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: block;
}

.search-bar-2:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 85, 255, 0.738);
}

.search-bar-2:hover {
  box-shadow: 0px 0px 8px rgba(0, 85, 255, 0.738);
  cursor: pointer;
}

.email-p1 {
  color: rgb(56, 55, 55);
}

.email-p2 {
  color: rgb(56, 55, 55);
  width: 405px;
  font-size: 15px;
}

.email-input {
  width: 350px;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.email-input:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 85, 255, 0.738);
}

.agree-and-join {
  padding: 15px 60px;
  width: 20%;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 25px;
  background-color: rgb(10, 102, 194);
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.agree-and-join:hover {
  background: rgb(6, 61, 116);
}

.add-friends {
  display: inline-block;
  margin: 10px;
  padding: 0px 0px 15px 0px;
  background: linear-gradient(to right, #b9b9b9, #ffffff, #d0d0d0);
  box-shadow: 5px 5px 10px rgba(74, 76, 74, 0.612);
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

.add-friends:hover {
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.add-friends .p1 {
  font-size: 20px;
  color: rgb(0, 123, 255);
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
}

.add-friends .p2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
}

.add-button {
  background: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 15px;
  margin-left: 80px;
  height: 36px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.add-button:hover {
  background: rgb(0, 82, 178);
}

.cats-profile {
  display: inline-block;
  width: 50px;
}
.cat-info {
  display: inline-block;
  width: 100px;
}

.cat-img {
  border-radius: 100%;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cat-img:hover {
  box-shadow: 5px 5px 10px rgba(13, 0, 255, 0.416);
  cursor: pointer;
}
.cat-name {
  font-size: 18px;
  width: 150px;
  font-weight: bolder;
  display: inline-block;
  padding-left: 100px;
  margin-bottom: 20px;
}

.cat-popularity {
  font-size: 14px;
  color: rgb(25, 0, 255);
  width: 150px;
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 100px;
  margin-bottom: 20px;
}

.follow-button {
  background: linear-gradient(to right, #1da1f2, #0011ff);
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 15px;
  margin-left: 100px;
  height: 36px;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.follow-button:hover {
  background: linear-gradient(to right, #0873b5, #01019c);
}

.follow-button:active {
  opacity: 0.7;
}

.profiles {
  background: rgba(158, 158, 158, 0.175);
  padding: 10px 60px 10px 20px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 15px;
  display: block;
  margin: 10px;
}

span {
  color: rgb(92, 92, 92);
}

/* === Simple Profile Card Styles === */
/* Container for the profile card */
.profile-card {
  background: rgb(0, 15, 51);
  padding: 300px;
}
