* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px;
  border-bottom: 2px solid #e3e3e3;
}

nav a {
  text-decoration: none;
  color: rgb(131, 129, 129);
  margin: 0 25px;
}

nav a:hover {
  color: blue;
  cursor: pointer;
}

nav a.active {
  font-weight: bold;
  color: blue;
}

header {
  padding-top: 125px;
}

header p {
  margin: 25px auto;
  width: 50%;
  font-size: 1.25rem;
  color: rgb(49, 46, 46);
}

h1 {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: bold;
}

span {
  color: blue;
  font-weight: bold;
}

#cta-button {
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 25px;
  font-weight: bold;
}
