::-webkit-scrollbar {
  /* hides the scrollbar */
  display: none;
}

* {
  /* resets default margin and padding */
  margin: 0;
  padding: 0;
}

html {
  text-align: center; /* centers all elements by default */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed; /* makes it stick at the top of the page */
  top: 0; /* aligns it to the top */
  width: 100%; /* makes the Nav bar full screen width */
  max-width: 100%; /* prevents horizontal scrolling */
  padding: 25px;
  border-bottom: 4px solid #0400ff;
  background-color: black;
}

nav a {
  text-decoration: none; /* removes underline from links */
  color: white;
  margin: 0 25px;
  font-size: 1.25rem;
}

nav a:hover {
  /* styles for when hovering over links */
  color: blue;
  cursor: pointer;
}

nav a.active {
  /* styles for active links */
  font-weight: bold;
  color: blue;
}

header {
  padding-top: 125px;
}

header p {
  margin: 25px auto;
  width: 50%;
  font-size: 1.25rem;
  color: rgb(71, 68, 68);
}

h1 {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: bold;
}

span {
  color: blue;
  font-weight: bold;
}

#cta-button {
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(to right, #0c6fd9, #0310a3);
  color: white;
  padding: 1em 3em;
  border-radius: 30px;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: bold;
  transition: 150ms ease-in-out;
}

#cta-button:hover {
  background: linear-gradient(to right, #0310a3, #0c6fd9);
  cursor: pointer;
  scale: 1.05;
}

.video-player {
  margin-top: 45px;
  width: 850px;
  max-width: 90%;
  aspect-ratio: 16 / 9;
  border-radius: 25px;
}

.products-container {
  margin-top: 30px;
}

.item {
  box-sizing: border-box;
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  display: inline-block;
  margin: 0 20px;
  align-content: center;
  padding: 15px;
  border-radius: 25px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 20px;
}

.item > h2 {
  margin-bottom: 15px;
}

.item:first-child {
  border: 1px solid black;
}
.item:nth-child(2),
.item:nth-child(2) p {
  background-color: #7932ff;
  color: white;
}
.item:last-child,
.item:last-child p {
  background-color: rgb(0, 0, 0);
  color: white;
}

form {
  margin-top: 30px;
}
input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  font: inherit;
}
button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font: inherit;
  font-weight: 700;
  border: 1px solid blue;
  border-radius: 30px;
  width: 150px;
  background: linear-gradient(to right, #0310a3, #0c6fd9);
  color: white;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

button:hover {
  background: linear-gradient(to right, #0c6fd9, #0310a3);
  scale: 1.05;
}

input[type="text"],
input[type="password"] {
  padding: 10px 20px;
  width: 400px;
  font: inherit;
  border: none;
  background-color: #ebedf5;
  border-radius: 30px;
}

.box {
  margin-top: 10px;
  display: inline-block;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animation-section .animation-container .animation-button {
  margin-top: 10px;
  animation-name: spin;
  animation-duration: 3s;
  background: linear-gradient(to right, #3647ff, #910bcf);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
