* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px;
  border-bottom: 2px solid #e3e3e3;
}

nav a {
  text-decoration: none;
  color: rgb(131, 129, 129);
  margin: 0 25px;
}

nav a:hover {
  color: blue;
  cursor: pointer;
}

nav a.active {
  font-weight: bold;
  color: blue;
}

header {
  padding-top: 125px;
}

header p {
  margin: 25px 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3.5rem;
}
span {
  color: blue;
  font-weight: bold;
}
