/* Define CSS variables for consistent theming */
:root {
  --accent-color: #ff0000;
  --primary-color: #1b1c1f;
  --secondary-color: #101113;
  --background-color: #f5f5f5;
  --text-color: #d9d9d9;
  --secondary-text-color: #7f8082;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}
/* Set global font styles and colors */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  color: var(--text-color);
}
/* Style the body with minimum height to cover the entire size of the screen and background color */
body {
  min-height: 100vh;
  background-color: var(--primary-color);
}
/* Style the header with padding and flexbox for layout */
header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

header .container {
  width: 850px;
  max-width: 100%;
}

header img {
  height: 60vh;
}

header h1 {
  margin-top: 200px;
  font-size: ;
}
