/* Define CSS variables for consistent theming */
:root {
  --accent-color: #9d0b0b;
  --primary-color: #1b1c1f;
  --secondary-color: #101113;
  --background-color: #f5f5f5;
  --text-color: #d9d9d9;
  --secondary-text-color: #7f8082;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}
/* Set global font styles and colors */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  color: var(--text-color);
}
/* Style the body with minimum height to cover the entire size of the screen and background color */
body {
  min-height: 100vh;
  background-color: var(--primary-color);
}
/* Style the header with padding and flexbox for layout */
header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
/* Style the container inside the header */
header .container {
  width: 850px;
  max-width: 100%;
}
/* Style the image inside the header */
header img {
  height: 60vh;
}
/* Style the main heading inside the header */
header h1 {
  margin-top: 200px;
  font-size: 4rem;
}
/* Style the subheading inside the header */
header h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
/* Style the paragraph inside the header */
header p {
  color: var(--secondary-text-color);
}
/* Style the "Read More" button inside the header */
header .read-more {
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  margin-bottom: 80px;
  cursor: pointer;
}
/* Style the "Read More" button on hover */
header .read-more:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
}
