:root {
  --accent-color: #ff0000;
  --primary-color: #1b1c1f;
  --secondary-color: #101113;
  --background-color: #f5f5f5;
  --text-color: #d9d9d9;
  --secondary-text-color: #7f8082;
}

* {
  margin: 0;
  padding: 0;
}
