p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.images {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}
.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.search-bar {
  font-size: 20px;
  display: block;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.image-row {
  margin-bottom: 12px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
