.images {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.video-title {
  margin-top: 0;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.search-bar {
  font-size: 20px;
  margin-left: 12px;
  display: block;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.image-row {
  margin-bottom: 12px;
}
