p {
  font-family: "Roboto", sans-serif;
}

.images {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.search-bar {
  font-size: 20px;
  display: block;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.image-row {
  margin-bottom: 12px;
}
