.images {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.search-bar {
  font-size: 20px;
  margin-left: 12px;
  display: block;
}

.channel-picture {
  display: inline-block;
  width: 50px;
}

.profile-picture {
  width: 50px;
  height: 54px;
}
