body {
  font-family: "Fira Code", monospace;
  text-align: center;
  background: #0d1117;
  color: #e6edf3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: #161b22;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.highlight {
  color: #58a6ff;
}

button {
  background: #238636;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2ea043;
}
