/* Base */
body {
  margin: 0px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  background-color: maroon;
  padding: 25px;
  text-align: center;
}

a {
  color: White;
  text-decoration: none;
  padding: 25px;
}

main {
  text-align: center;
}

.recipes {
}

.countries-recipes {
}
