/* Base */
body {
  margin: 0px;
  padding: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  background-color: maroon;
}

main {
}

.recipes {
}

.countries-recipes {
}
