/* Base */
body {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  background-color: maroon;
  padding: 0px;
}

a {
  color: White;
  text-decoration: none;
  padding: 25px;
}

main {
}

.recipes {
}

.countries-recipes {
}
